header {
    background-image: linear-gradient(#333, #444, gray, white);
}
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 1rem;
}